REACT_APP_CANDY_MACHINE_ID=__PLACEHOLDER__
REACT_APP_SOLANA_NETWORK=devnet
REACT_APP_SOLANA_RPC_HOST=https://api.devnet.solana.com


# Params to set if using custom Spl-Token to mint
# Spl-Token symbol to display next the price

REACT_APP_SPL_TOKEN_NAME=

# Spl-token decimals place defined on creation (default is 9)

REACT_APP_SPL_TOKEN_DECIMALS=
