@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
  text-shadow: 0 0 10px #5c8588;
}

.div-glow {
  box-shadow: 2px 2px 20px #94d2d7;
}

.btn-primary {
  display: inline-block;
  background-color: white;
  color: #101010;
  font-size: 16px;
  padding: 12px 54px;
  border-radius: 6px;
  border: 4px solid white;
}

.btn-secondary {
  display: inline-block;
  background-color: #101010;
  color: white;
  font-size: 16px;
  padding: 12px 54px;
  border-radius: 6px;
  border: 4px solid white;
}

#landing-section-2 {
  background-image: url("../assets/landing/ship-background.svg");
}

#vision {
  background-image: url("../assets/common/stars-bg.png");
}

#team {
  background-image: url("../assets/landing/planet-bg.png");
}

#nft-drop-hero {
  background-image: url("../assets/common/stars-bg.png");
}
#roadmap-hero {
  background-image: url("../assets/common/stars-bg.png");
}

#tokenomics-hero {
  background-image: url("../assets/tokenomics/planet-shot.png");
}
