.header {
  padding: 12rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}

.header__content {
  font-size: 1.3rem;
  font-weight: 500;
  width: 45vw;
  text-align: center;
  color: white;
  line-height: 28px;
  margin-top: 4rem;
}
.connect-button {
  color: white !important;
  padding: 1rem 3rem !important;
  font-size: 1.2rem !important;
  background: #cca146 !important;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12 !important;
  margin-top: 4rem !important; 
}
.z-girl {
  position: absolute;
  right: 10%;bottom: -15%;
}
