.about {
  margin-top: 10rem;
  margin-bottom: 1rem;
  .aboutimg {
    display: flex;
    justify-content: center;
    .about-img {
      border-radius: 16px;
    }
  }

  .subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .title {
    color: violet;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 5rem;
    margin-bottom: 1rem;
    .aboutimg {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .about-text {
      margin-top: 3rem;
      .title {
        color: violet;
        font-size: 1.9rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
      }
      .subtitle {
        font-size: 1.125rem;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .about {
    margin-top: 5rem;
    .aboutimg {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .about-text {
      margin-top: 3rem;
    }
  }
}