.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}


.parallax {
  position: relative;
  overflow: hidden;
}

.parallax::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100% 100%;
  background-image: url(/assets/images/mesh.svg);
  filter: invert(25%) sepia() saturate(10) hue-rotate(45deg) saturate(10) contrast(10);
}


.timeline ul {
  background: var(--color-black);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0px;
  margin: 0 auto;
  padding-top: 50px;
  box-shadow: 0 0 2px 1.3px white;
  filter: drop-shadow(0 0.25px 0.75px white);
}

.timeline ul li:first-of-type:after {
  background: transparent;
  border: 5px double var(--color-green)
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 5px dashed var(--color-green)
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  border: 2px double var(--color-purple);
  border-radius: 4px;
  font-weight: 900;
}

.timeline ul li div>p {
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-green); */
  color: var(--color-green);
}

.timeline ul li div>time {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-white);
  color: transparent;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--color-purple) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--color-purple);
}

time {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-white);
}

/* EFFECTS –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
opacity:1;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--color-purple) transparent transparent;
  }
}

#meBaby {
  width: 100px;
  height: 135px;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #ad1457;
}