.App {
  text-align: center;
}
.section{
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100vw ‰ !important;
  background: url("./images/top-background.png");
  background-size: contain;
}