@font-face { font-family: blox2; src: url(Blox2.ttf); }
@font-face {font-family:"Dogica Pixel";src:url("Dogica_Pixel.eot?") format("eot"),url("Dogica_Pixel.woff") format("woff"),url("Dogica_Pixel.ttf") format("truetype"),url("Dogica_Pixel.svg#Dogica_Pixel") format("svg");font-weight:normal;font-style:normal;}
body {
  background-color: #111111;
  color: #e3fddf;
  font-family: 'Dogica Pixel';
  font-size: 20px;
  margin-right: 1px;
  margin-left: 1px;
}
code {
  font-family: 'Dogica Pixel';
}
.first {
  height: 100vh;
  }
.TopMenu {
  display: flex;
   justify-content: center;
    position: relative;
    z-index: 3;
  }

.homee {
  padding-left: 15px;
  padding-right: 15px;
  color: #23dbb2;
  font-family: 'blox2';
  font-size: 25px;
  letter-spacing: 3px;
  }
  @media only screen and (max-width: 600px) {
    .homee {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 22px;
    }
  }
  
.Headp {
  position: relative;
  text-align: center;
  padding: 1%;
}
.boxers {
  display: inline-block;
  margin: 0 auto;
  text-align:center;
  font-size: 90px;
  font-family: 'blox2';
  background-color: #f3ec78;
  background-image: linear-gradient(55deg, #ef2c56, #ef7541, #530ca1, #ef2c56);
  
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.sol {
  display: inline-block;
  margin: 0 auto;
  text-align:center;
  font-size: 90px;
  font-family: 'blox2';
  background-color: #f3ec78;
  background-image: linear-gradient(20deg, #f123f2, #0df1a9);
  background-size: 100%;  
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.second {
  height: 100vh;
  width: 100vw;
   text-shadow: 1.5px -1.5px #e709e7, -1.5px 1.5px #02fcff;
}
model-viewer {
  position: absolute;
  height: 150vh;
  width: 100vw;
  overflow: hidden;
  margin-top: -9%;
  z-index: 2;
  }
.info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #23dbb2;
  font-family: 'blox2';
  font-weight: normal;
  letter-spacing: 3px;
  line-height: 130%;
  margin-bottom: -2%;
   }
  .merchant {
  
    text-align: center;
  }
 .trunk {
   margin: 15px;
  display: inline-block;
  box-shadow: 1.5px -1.5px #ffffff, -1.5px 1.5px #e709e7;
    }
    .bling {
    margin: 15px;
  display: inline-block;
  box-shadow: 1.5px -1.5px #ffffff, -1.5px 1.5px #e709e7;
    }
 
.teamins {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
    }
  .dev {
    text-align: center;
    display: block;
    margin: 15px;
    box-shadow: 1.5px -1.5px #ffffff, -1.5px 1.5px #e709e7;
    padding-right: 1px;
    padding-left: 1px;
    }
    .flf {
    display: block;
    text-align: center;
    margin: 15px;
    box-shadow: 1.5px -1.5px #ffffff, -1.5px 1.5px #e709e7;
    }
.teamtxt {
margin: 5px;

}
.foot {
  display: flex;
  flex-direction: row;
  text-shadow: 0.5px -0.5px #e709e7, -0.5px 0.5px #ffffff;
  justify-content: center;
  position: relative;
}
.roadmap {
  background-image: url(cube1.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right;
  }
.team {
 
  background-image: url(cube2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.discord {
  margin-right: 2%;
  font-family: 'blox2';
  color:darkmagenta;
  letter-spacing: 3px;
  font-size: 25px;
}
.twitter {
margin-left: 2%;
  color:deepskyblue;
  font-family: 'blox2';
  letter-spacing: 3px;
  font-size: 25px;
}
footer {
padding-left: 10%;
padding-right: 10%;
line-height: 200%;
}
.u {
position: relative;
margin-top: 20%;
line-height: 200%;
}
li {
  list-style-position: outside;
  
}
.cube1 {
  display: inline-block;
  height:100%; width:auto;
  top: 0;
  position: absolute;
  z-index: 0;
}
.cube2 {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  
 }
 @media only screen and (max-width: 600px) {
  .cube2 {
    margin-top: 50%;
    transform: scale(0.5, 0.5);
   
    
  }
    .cube1 {
     margin-top: -45%;
     
      transform: scale(0.5, 0.5);
    }
}
.cube3 {
  bottom: 0;
  left: 0;
  margin: 1px;
  position: absolute;
}
.rare {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height:70%; max-width:70%;
  margin: auto; 
  
}
